Source: ros-lunar-robot-model
Section: misc
Priority: extra
Maintainer: Chris Lalancette <clalancette@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin
Homepage: http://ros.org/wiki/robot_model
Standards-Version: 3.9.2

Package: ros-lunar-robot-model
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liburdfdom-tools, ros-lunar-collada-parser, ros-lunar-collada-urdf, ros-lunar-joint-state-publisher, ros-lunar-kdl-parser, ros-lunar-resource-retriever, ros-lunar-urdf, ros-lunar-urdf-parser-plugin
Description: robot_model contains packages for modeling various aspects of robot information, specified in the Xml Robot Description Format (URDF). The core package of this stack is urdf, which parses URDF files, and constructs an object model (C++) of the robot.
