Source: ros-jade-joint-state-publisher
Section: misc
Priority: extra
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-wxgtk2.8, ros-jade-catkin, ros-jade-rospy, ros-jade-sensor-msgs
Homepage: http://www.ros.org/wiki/joint_state_publisher
Standards-Version: 3.9.2

Package: ros-jade-joint-state-publisher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-wxgtk2.8, ros-jade-rospy, ros-jade-sensor-msgs
Description: This package contains a tool for setting and publishing joint state values for a given URDF.
